@import '/src/assets/Colors';

.cart {
    
    table {
        width: 100%;

        thead {

            th {
                border-bottom: solid 3px lighten($black, 85%);
            }
        }

        tbody {

            td {
                vertical-align: middle;
                border-bottom: solid 1px lighten($black, 85%);
                padding: 10px 0;
            }
        }
    }
}