@import '/src/assets/Colors.scss';

.item-detail {
    margin: 3rem auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    border: solid 1px lighten($black, 70%);

    div {
        margin: 0 1rem;
        flex-basis: 50%;

        &.count {
            margin: 0 0 !important;
            
            .item-count {
                margin: 0 0 !important;                
            }
        }
    }
}