@import '/src/assets/Colors.scss';

.item-detail {
    margin: 3rem auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: center;
    border: solid 1px lighten($black, 70%);
    width: 70%;

    div {
        margin: 0 1rem;
    }
}