@import '/src/assets/Colors.scss';

.item {
    border: solid 1px lighten($black, 70%);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 15px 30px;
    padding-bottom: 1.5rem;

    .image {
        box-sizing: border-box;
        overflow-x: hidden;
        
        img {
            width: 100%;
        }
    }
}