@import '../../assets/Colors.scss';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: $white;
        padding: 20px 15px;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover {
            background: $second-color;
            position: relative;
        }
    }
}