
.form {
    box-sizing: border-box;

    .form-group {
        margin-bottom: 1rem;

        label {
            display: block;
            margin-bottom: 0.3rem;
            font-weight: 600;
            font-size: 1rem;
        }

        input {
            box-sizing: border-box;
            width: 100%;
            font-size: 1rem;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
            outline: none;
        }

        span{

            &.help-text {
                color: #777;
                font-size: 0.85rem;
                font-style: italic;
                margin-top: 0.1rem;
                display: block;
            }
        }
    }
}